## Session 2: Descriptive Statistics - Mean, Median, Mode

**Objective:** Introduce basic statistical concepts and use Python to calculate the mean, median, and mode for baseball data.

### 1. Concepts Covered
- Descriptive statistics: mean, median, mode.
- Using Python to calculate these statistics for baseball data (e.g., player batting averages).
- Formula references:
   - Mean: $\bar{x} = \frac{1}{n}\sum_{i=1}^{n} x_i$
   - Median: The median of a dataset $X = \{x_1, x_2, ..., x_n\}$:
      - If $n$ is odd, the median is $x_{\frac{n+1}{2}}$.
      - If $n$ is even, the median is $\frac{x_{\frac{n}{2}} + x_{\frac{n}{2} + 1}}{2}$.
   - Mode: The most frequent value

### 2. Python Code Walkthrough

Install and import packages:

In [1]:
from pybaseball import batting_stats, playerid_lookup, statcast_pitcher
import pandas as pd
pd.set_option('display.max_columns', None)

#### Descriptive Statistics: Batting Average Analysis

In [2]:
data = batting_stats(2023)

##### How much better were the top five hitters in 2023 compared to the three measures of central tendency for that year?

In [3]:
mean_batting_avg = data['AVG'].mean()
median_batting_avg = data['AVG'].median()
mode_batting_avg = data['AVG'].mode()[0]

print(f"Mean Batting Average:   {mean_batting_avg:.3f}")
print(f"Median Batting Average: {median_batting_avg:.3f}")
print(f"Mode Batting Average:   {mode_batting_avg:.3f}")

Mean Batting Average:   0.262
Median Batting Average: 0.262
Mode Batting Average:   0.258

In [4]:
top_5_avg_df = data.sort_values(
    by='AVG', ascending=False)[:5][
    ['IDfg', 'Name', 'Team', 'AVG']]

top_5_avg_df['mean_diff'] = round(top_5_avg_df['AVG'] - mean_batting_avg, 3)
top_5_avg_df['median_diff'] = round(top_5_avg_df['AVG'] - median_batting_avg, 3)
top_5_avg_df['mode_diff'] = round(top_5_avg_df['AVG'] - mode_batting_avg, 3)

display(top_5_avg_df)

     IDfg              Name Team    AVG  mean_diff  median_diff  mode_diff
13  18568       Luis Arraez  MIA  0.354      0.092        0.092      0.096
1   18401  Ronald Acuna Jr.  ATL  0.337      0.075        0.075      0.079
5    5361   Freddie Freeman  LAD  0.331      0.069        0.069      0.073
6   16578        Yandy Diaz  TBR  0.330      0.068        0.068      0.072
2   13624      Corey Seager  TEX  0.327      0.065        0.065      0.069

#### Descriptive Statistics: Average 4-Seam Fastball Speed Analysis for Clayton Kershaw on `2017-06-02`

In [5]:
# Find Clayton Kershaw's player id
playerid_lookup('kershaw', 'clayton', fuzzy=True) 
# His MLBAM ID is 477132.

# Get Kershaw's stats for a specific date using his ID
kershaw_stats = statcast_pitcher('2017-06-02', '2017-06-02', 477132)

Gathering player lookup table. This may take a moment.
Gathering Player Data

In [6]:
fastball_df = kershaw_stats[kershaw_stats.pitch_name == '4-Seam Fastball']

In [7]:
mean_batting_avg = fastball_df.release_speed.mean()
median_batting_avg = fastball_df.release_speed.median()
mode_batting_avg = fastball_df.release_speed.mode()[0]

print(f"Mean Release Speed:   {mean_batting_avg:.3f}")
print(f"Median Release Speed: {median_batting_avg:.3f}")
print(f"Mode Release Speed:   {mode_batting_avg:.3f}")

Mean Release Speed:   93.409
Median Release Speed: 93.500
Mode Release Speed:   92.900

### 3. Exercise:
- Calculate the mean, median, and mode for the number of home runs for the top 5 player in 2003.
    - Find the player with the most home runs? 
    - How different is their home run total compared to the top 5 players?
- Strech Question: Calculate the mean, median, and mode for home runs for the top 5 player in 1998. Compare the results to 2003. Why do think they are different? What happen in baseball during this time?

**Hint:** To find the highest batting average, try sorting the data and selecting the first entry.

In [8]:
## Calculate the mean, median, and mode for the number of home runs for the top 5 player in 2003.
batting_2003_df = batting_stats(2003)

top_hr_2003_df = batting_2003_df.sort_values(
    by='HR', ascending=False)[:1][
    ['IDfg', 'Name', 'Team', 'HR']]

top_hr_2003_df

   IDfg            Name Team  HR
7  1274  Alex Rodriguez  TEX  47

In [9]:
## Find the player with the highest batting average? How different is their average compared to the top 5 players and all the players??

top_5_hr_2003_df = batting_2003_df.sort_values(
    by='HR', ascending=False)[:5][
    ['IDfg', 'Name', 'Team', 'HR']]

top_5_hr_2003_df

top_5_hr_2003_df['mean_diff'] = round(top_hr_2003_df['HR'].values[0] - top_5_hr_2003_df['HR'], 3)

display(top_5_hr_2003_df)

    IDfg            Name Team  HR  mean_diff
7   1274  Alex Rodriguez  TEX  47          0
14   409       Jim Thome  PHI  47          0
0   1109     Barry Bonds  SFG  45          2
22   709   Richie Sexson  MIL  45          2
1   1177   Albert Pujols  STL  43          4

In [12]:
## Strech Question: Calculate the mean, median, and mode for the batting averages of the top 5 player in 1998. 
batting_1998_df = batting_stats(1998)
top_5_hr_1998_df = batting_1998_df.sort_values(
    by='HR', ascending=False)[:5][
    ['IDfg', 'Name', 'Team', 'HR']]

top_5_hr_1998_df

top_5_hr_1998_df['mean_diff'] = round(top_5_hr_1998_df['HR'].values[0] - top_5_hr_1998_df['HR'], 3)

display(top_5_hr_1998_df)

       IDfg             Name Team  HR  mean_diff
0   1008559     Mark McGwire  STL  70          0
6       302       Sammy Sosa  CHC  66          4
19      327  Ken Griffey Jr.  SEA  56         14
22     1233      Greg Vaughn  SDP  50         20
2   1000802     Albert Belle  CHW  49         21

#### Compare the results from the two years. Why do think they are different? What happen in baseball during this time?

Here is a hint: https://www.espn.com/mlb/topics/_/page/the-steroids-era

**Answer:**

### 4. Reference:
- [Khan Academy - Descriptive statistics](https://www.khanacademy.org/math/engageny-alg-1/alg1-2)
- [How to Calculate Summary Statistics](https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html)